<h2>Add a new recipe</h2>
<form action="#" method="post">
  <fieldset>
    <h3><label>Name:
      <input type="text" name="name" placeholder="Recipe Name"/>
    </label></h3>
    <p><label>Author:
      <input type="text" name="author" placeholder="Author Name"/>
    </label></p>
    <p><label>Number of Servings:
      <input type="number" name="servings""/>
    </label></p>
  </fieldset>
  <fieldset>
    <label for="cook_time" placeholder="Total Time to Finish">Total: <input type="number" name="cook_time" id="cook_time" min="0"/>min</label>
    <p><label>
      Difficulty
      <select name="difficulty">
        <option value="" disabled selected>Choose one</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </label>
    <label>
      Type
      <select name="meal_type">
        <option value="" disabled selected>Choose one</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
      </select>
    </label></p>

  </fieldset>
  <fieldset>
    <label for="ingredients"></label>
    <textarea name="ingredients" id="ingredients" rows="20" cols="60" placeholder="Ingredient List"></textarea>
    <label for="directions"></label>
    <textarea name="directions" id="directions" rows="20" cols="60" placeholder="List of Directions"></textarea>
  </fieldset>
  <fieldset>
    <!-- <label for="nutrition">Nutrition Facts</label>
    <input type="text" name="nutrition" id="nutrition"/> -->
    <input type="hidden" id="timestamp" name="timestamp" value="1286705410">
    <label for="url_link">Link to original recipe</label>
    <input type="text" name="url_link" id="url_link"/>
    <label for="labels">Labels</label>
    <input type="text" name="labels" id="labels"/>
  </fieldset>
  <button type="submit">Add recipe</button>
  <button type="reset">Reset form</button>
</form>
