<h2>Home Page</h2>
<aside>
  <p><a href="/search/breakfast">Breakfast</a></p>
  <p><a href="/search/lunch">Lunch</a></p>
  <p><a href="/search/dinner">Dinner</a></p>
  <p><a href="/allrecipes">All recipes</a><p>
</aside>
<div class = "popular">
  <h3>Most Popular</h3>
  <ul>
    <li><a href="/recipe/3">Granola</a></li>
    <li><a href="/recipe/2">Dumplings</a></li>
  </ul>
</div>
<div class = "recent">
  <h3>Recently Submitted</h3>
  <ul>
    <li><a href="/recipe/2">Dumplings</a></li>
  </ul>
</div>
