<!doctype html>
<html lang="en-US">
  <head>
    <title>Recipe Sharespace</title>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans"> -->
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <!--<script src="/javascripts/jquery-2.1.4.js"></script>-->
    <!--<script src="/javascripts/application.js"></script>-->
  </head>
  <body>
    <header>
      <h1>Recipe Sharespace </h1>
      <div class="nav_links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/add_recipe">Add Recipe</a></li>
          <li><a href="/calender">Calender</a></li>
          <li><a href="/favorites">Favorites</a></li>
          <li><a href="/search">Search</a></li>
        </ul>
      </div>
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>

    <main>
      <div class="sidebar">
        <aside>
          <p><a href="/search/breakfast">Breakfast</a></p>
          <p><a href="/search/lunch">Lunch</a></p>
          <p><a href="/search/dinner">Dinner</a></p>
          <p><a href="/allrecipes">All recipes</a><p>
        </aside>
      </div>
      <div class="content">
      <%== yield %>
      </div>
    </main>
  </body>
</html>
