<h2>Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>"/>
  <button type="submit">Search</button>
</form>

<% if @recipes.empty? %>
  <p>Sorry, no matches were found.</p>
<% else %>
  <h2>recipes for '<%= params[:query]%>'</h2>

  <%==display_n_recipe_links(@recipes)%>

<% end %>
