body {
  font-family: 'Vollkorn', serif;
}

aside {
  outline: solid black 2px;
}

.sidebar {
  float: left;
  width: 20%;
  outline: solid black 2px;
}

.content {
  float: left;
  width: 70%;
  outline: solid black 2px;
}
